@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(233, 47%, 7%);
    height:100vh;
}
main{
    display: flex;
    /*height: 446px;*/
    
}
.text{
    background-color:hsl(244, 38%, 16%);
    max-width: 540px;
    max-height: 446px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 55px;
}
.image{
    position:relative;
    width: 540px;
    background-image: url('./images/image-header-desktop.jpg');
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-repeat: no-repeat;
}

#color-filter{
    position:absolute;
    background-color:hsl(277, 64%, 61%);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.4;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#card-title{
    font-family: 'Inter', sans-serif;
    color: hsl(0, 0%, 100%);
    font-size: 37px;
    margin-bottom: 30px;
    margin-top:10px;
}
#insights{
    color: hsl(277, 64%, 61%);
}
p{
    color:hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom:55px;
    max-width: 360px;
}
#statistics{
    display:flex;
    justify-content:space-between;
    line-height: 1.5;
    padding-right: 70px;
    }
#statistics h1{
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
}
#statistics p{
    color:hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 13px;
}

@media screen and (max-width: 900px){

    body{
        max-height:100vh;
        display:flex;
        align-items: center;
        justify-content: center;
    }

    main{
    display:flex;
    flex-direction: column-reverse;
    width: 375px;
    }

    .image{
        position:relative;
        width: 375px;
        height:275px;
        background-image: url('./images/image-header-mobile.jpg');
        background-position: center;
        background-size: contain;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .text {
        display: flex;
        flex-direction: column;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding:25px;
        align-items: center;
        max-height: none;
        
    
    }

    #card-title{
        text-align: center;
        font-size: 32px;
    }

    p{
        text-align:center;
        font-size: 19px;
        font-family: 'Inter', sans-serif;
    }

    #statistics{
        display: flex;
        flex-direction: column;
        padding:0;
        gap:20px;
        margin-bottom: 20px;
    }

    #statistics p{
        margin-bottom: 1px;
    }
    
    .stats{
        text-align: center;
    }
    .stats h1{
        font-size: 28px;
    }

}
